<div class="jumbotron jumbotron-fluid"  >
    <div class="headbody">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
        <hr class="line1">
        <h1 class="display-3">University Course Admission</h1>
       <hr class="line1">
        </div>
        <div class="col-sm-2">
        <img src="assets/images/img1.jpg">
        </div>
   
        
    
        <p class="lead"></p>
        <hr class="my-2">
        </div>
    </div>
<!--<nav>
    <a routerLink="/applicants">applicants</a>
</nav>-->

<router-outlet></router-outlet>
  <!--<div class="container-fluid">
        <app-applicant></app-applicant>
    </div>
    <div class="container-fluid">
         <app-view-all-by-status></app-view-all-by-status>
    </div>-->
    </div>
</div>