.card-body{
    background-color: rgb(216, 232, 245);
    white-space: pre;

}
.card{
    background-color:rgb(63, 158, 196);
    border-color: black;
    border-radius: 1em;
   
    box-shadow:0 0 15px 4px rgba(0,0,0,0.6);
    
   

}
.card-header{
    font-weight: 700;
    color: rgb(236, 220, 220);
    text-align: center;
}