<!--<p>applicant works!</p>-->
<h2 style="text-align: center;" [hidden]="submitted">APPLICANT REGISTRATION</h2>

<div style="width:400px" [hidden]= "submitted" class="form1">
    <!-- <form (ngSubmit)="onSubmit()"> -->
        <form #createApplicantForm="ngForm" novalidate>
        <div class="form-group">
            <label for="id">Applicant ID</label>
            <input type="text" name="id" class="form-control" 
                    placeholder="Enter applicant Id" required [(ngModel)]= "applicant.applicantId" #id="ngModel" >
              <small class="form-text text-muted" *ngIf="id.touched && !id.valid">Applicant ID required</small>

       </div>
        <div class="form-group">
            <label for="name">Applicant Name</label>
            <input type="text" name="name" class="form-control" 
                  placeholder="Enter applicant name" 
                  required [(ngModel)]= "applicant.applicantName" #name="ngModel" >
                  <small class="form-text text-muted" *ngIf="name.touched && !name.valid">Name required</small>

        </div>
        <div class="form-group">
            <label for="mob">Applicant mobile number</label>
            <input type="text" name="mob" class="form-control" 
                  placeholder="Enter mobile number" required minlength="10" maxlength="10"
                  [(ngModel)]= "applicant.mobileNumber" #mob="ngModel">
                  <small class="form-text text-muted" *ngIf="mob.touched && !mob.valid && !mob.errors?.minlength">Mobile number required</small>
                  <small class="form-text text-muted" *ngIf="mob.errors?.minlength">Mobile number must be of length 10</small>
                 
        </div>
        <div class="form-group">
            <label for="degree">Applicant Degree</label>
            <input type="text" name="degree" class="form-control" 
                  placeholder="Enter degree" required 
                  [(ngModel)]= "applicant.applicantDegree" #degree="ngModel">
                  <small class="form-text text-muted" *ngIf="degree.touched && !degree.valid">Degree required</small>

        </div>
        <div class="form-group">
            <label for="marks">Graduation Percentage</label>
            <input type="text" name="marks" class="form-control" 
                  placeholder="Enter percentage" required pattern="[0-9]*" maxlength="3"
                  [(ngModel)]= "applicant.applicantGraduationPercent" #marks="ngModel">
                  
                  <div class="form-text text-muted" *ngIf="marks.touched && !marks.errors?.pattern && !marks.valid">Percentage required</div>
                  <small  class="form-text text-muted" *ngIf="marks.errors?.pattern">Enter integer value</small>
        </div>

        <div class="form-group">
          <label for="statuss">Admission status</label>
          <select class="form-control" id="statuss"  [(ngModel)]= "applicant.status" name="statuss" #statuss="ngModel">
           <option *ngFor="let sta of status" [value]="sta">{{sta}}</option>
          </select>
                <small class="form-text text-muted" *ngIf="statuss.touched && !statuss.valid">Enter status</small>

 
    </div>

        <button type="submit" class="btn btn-success" (click)= "onSubmit()" [disabled]="!createApplicantForm.valid">Add applicant</button>  
        <button type="submit" class="btn btn-default" (click)= "createApplicantForm.reset()">Reset</button>
    </form>

</div>

<div class="row"  *ngIf="showMsg">
    <div class="col-xs-12">
  <p class="alert alert-success">
    <strong>Registration Success!</strong> Please click here to <a routerLink="/applicants/{{applicant.applicantId}}">view applicant</a>


</p>
</div>
</div>
<!--<div [hidden]="submitted">
        <h4>applicant added successully</h4>
</div>-->

<!--<div class="card">
    <div class="card-body">
        <h4 class="card-title">add applicant</h4>
        
          <div class="row" [hidden]="formSubmitted">
            <div class="col-md-6">
                <form novalidate [formGroup]="applicantForm" >
                    <div class="form-group">
                      <label>Applicant ID</label>
                      <input type="text" formControlName="applicantId" class="form-control" placeholder="enter applicant id" aria-describedby="helpId"/>
                      
                    </div>
                    <div class="form-group">
                      <label >Applicant name</label>
                      <input type="text" id="name" required minlength="1" formControlName="applicantName" class="form-control" placeholder="enter applicant name" aria-describedby="helpId"/>

                    </div>
                    <div class="form-group">
                        <label>Applicant Mobile Number</label>
                        <input type="text" formControlName="mobileNumber" class="form-control" placeholder="enter applicant mobile number" aria-describedby="helpId"/>
                        
                      </div>
                      <div class="form-group">
                        <label >Applicant Degree </label>
                        <input type="text" formControlName="applicantDegree" class="form-control" placeholder="enter applicant degree" aria-describedby="helpId">
                        
                      </div>

                      <div class="form-group">
                        <label>Applicant Graduation Percentage</label>
                        <input type="number" formControlName="applicantGraduationPercent" class="form-control" placeholder="enter applicant percentage" aria-describedby="helpId">
                        
                      </div>
                      <div class="form-group">
                        <label >Applicant Status</label>
                        <input type="text" formControlName="status" class="form-control" placeholder="enter applicant status" aria-describedby="helpId">
                        
                      </div>
                      <button type="submit" class="btn btn-primary" (click)="addApplicant(applicantForm.value)">Submit</button>
                      <button type="button" class="btn btn-default" (click)="applicantForm.reset()">Reset</button>
                </form>
            </div>
            <div class="col-md-6">
                <label><strong>applicant data:JSON</strong></label>
                <pre class="alert alert-dark">
                    {{applicantForm.value|json}}

                </pre>
            </div>
          </div>

    </div>
</div>--->